<h1>Editing shipping address</h1>

<%= render "form", shipping_address: @shipping_address %>

<br>

<div>
  <%= link_to "Show this shipping address", @shipping_address %> |
  <%= link_to "Back to shipping addresses", shipping_addresses_path %>
</div>
