<p style="color: green"><%= notice %></p>

<h1>Shipping addresses</h1>

<div id="shipping_addresses">
  <% @shipping_addresses.each do |shipping_address| %>
    <%= render shipping_address %>
    <p>
      <%= link_to "Show this shipping address", shipping_address %>
    </p>
  <% end %>
</div>

<%= link_to "New shipping address", new_shipping_address_path %>
