<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your Order Was Placed Successfully!</h1>
    <p>Dear Customer,</p>
    <p>We are pleased to inform you that your order was placed successfully.</p>
    <p>Thank you for choosing our service.</p>
    <p>Best regards,</p>
    <p>Postera</p>
  </body>
</html>