/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: block;
}

button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
button:hover {
  color: rgba(39, 132, 145, 0.979);
}
a {
  color: #069;
}
a:hover {
  color: rgba(39, 132, 145, 0.979);
}
form {
  display: inline;
}
.my_container {
   height: 100vh;
}

 .my_shadow {
    box-shadow: 10px 10px 8px 10px lightgray;
 }

 .my_login_card {
   width: 400px;
   padding: 10px 20px;
   margin: auto;
   margin-top: 20px;
 }
 .my_td {
   text-align: right;
 }

 .form-floating {
  width: 100%;
 }
 .my_ind_center {
  text-align: center;
  align-self: center;
 }

 .margin-list {
  margin-left: 5px;
  margin-right: 5px;
 }

 #profilepic {
  display: inline;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
 }

 .my_center {
  display: flex;
  justify-content: center;
  align-items: center;
 
}
