
  <%= form_for(@category) do |f| %>
    <div class="form-floating mb-3">
      <%= f.text_field :name, required: true, class: "form-control", for:"name", placeholder:"Category Name"%>
      <label class="form-label" for="name">Category Name</label>
    </div>
    <div class="form-floating mb-3">
      <%= f.text_field :description, required: true, class: "form-control", for:"description", placeholder:"Description"%>
      <label class="form-label" for="description">Description</label>
    </div>
    <div class="actions">
      <%= f.submit button_text, class: "btn btn-primary btn-block mb-4" %>
    </div>
  <% end %>
