<div class="my_shadow my_login_card">
<h2>Editing category</h2>

<%= render "form", button_text: "Update" %>
<%= link_to "Show this category", @category %>
<%= link_to "Back to categories", categories_path %>
</div>