<div class="card" style="width: 18rem;">
  <%= image_tag "i9.jpg", class: "d-block w-100" %>
  <div class="card-body">
    <h5 class="card-title"><%= @category.name %></h5>
    <p class="card-text"><%= @category.description %></p>
    <%= link_to 'Edit', edit_category_path(@category), class: "btn btn-primary" %>
  </div>
</div>