<div class="my_shadow my_login_card">

<h2>Editing product</h2>

<%= render "form", button_text: "Edit" %>
  <%= link_to "Show this product", @product %> |
  <%= link_to "Back to products", products_path %>
</div>
