<div class="card" style="width: 18rem;">
  <%= image_tag @product.image.attached? ? @product.image : "i9.jpg", class: "d-block w-100" %>
  <div class="card-body">
    <h5 class="card-title"><%= @product.name %></h5>
    <p class="card-text"><%= @product.description %></p>
            <% if user_signed_in? && current_user.role == "admin" %>
    <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-primary" %>
      <%end%>
  </div>
</div>